@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
 color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.coin {
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes flipX {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}

@keyframes flipO {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1260deg); /* 1080 + 180 = showing O side */
  }
}

.animate-flip-X {
  animation: flipX 4s ease-in-out forwards;
}

.animate-flip-O {
  animation: flipO 4s ease-in-out forwards;
}

.backface-hidden {
  backface-visibility: hidden;
}
